:root {

    --paragraf-color: #757575;
    --header-color: #212121;
    --text-accent-color: #2196f3;
    --bacground-color: #ffffff;
    

}

body {
    background-color: var(--bacground-color);
    color: var(--paragraf-color);

    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
}

/* Прибирання маркерів */

ul {
    list-style: none;
}

/* основний колір тексту сірий #757575 */
/* другорядний колір тексту-заголовки чорний #212121 */
/* колір лого-синій header-footer #2196F3 */
/* колір лого-чорний header #000000 */
/* колір лого-біллий footer #FFFFFF */
/* фоновий колір hero-footer #2F303A */
/* фоновий колір "Наші цінності" #F5F5F5 */
/* фоновий колір "Наша команда" #F5F4FA */
/* колір телефон-пошта footer rgba(255, 255, 255, 0.6) */
 
/*Стилі header*/

.logo {
    text-decoration: none;
    list-style-type: none;
}

.logo-web {
     color: var(--text-accent-color);

     font-family: Raleway, sans-serif;
     Font style: 700;
     Font size: 26px;
     Line height: 1.2;
    


    }

.logo-studioheader {
     color: #000000;

    font-family: Raleway, sans-serif;
    Font style: 700;
    Font size: 26px;
    Line height: 1.2;
    
    }

.logo-studiofooter {
     color: var(--bacground-color);

    font-family: Raleway, sans-serif;
    Font style: 700;
    Font size: 26px;
    Line height: 1.2;
    
    }

.site-nav a {
     color: var(--header-color);

     font-weight: 500;
     font-size: 14px;
     line-height: 1.14;
     letter-spacing: 0.02em;

    text-decoration: none;
    list-style-type: none;
    }

.site-nav a:hover, .site-nav a:focus {
     color: var(--text-accent-color);

     font-weight: 500;
     font-size: 14px;
     line-height: 1.14;
     letter-spacing: 0.02em;
    }

  .contact-list a {
      color: var(--paragraf-color);

      font-weight: 500;
      font-size: 14px;
      line-height: 1.14;
      letter-spacing: 0.02em;

    text-decoration: none;
    list-style-type: none;
  }

  .contact-list a:hover, .contact-list a:focus {
      color: var(--text-accent-color);

      font-weight: 500;
      font-size: 14px;
      line-height: 1.14;
      letter-spacing: 0.02em;
  }

 /*Стилі головної сторінки main*/

 .hero {
     background-color: #2F303A;
 }

 .hero-title {
     color: var(--bacground-color);

     font-weight: 900;
     font-size: 44px;
     line-height: 1.36;
     text-align: center;
     letter-spacing: 0.06em;
     text-transform: uppercase;
 }

 .hero-button {
    background-color: var(--text-accent-color);
    color: var(--bacground-color);

    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;

    cursor: pointer;
 }

.hero-button:hover, .hero-button:focus {
    background-color: var(--text-accent-color);
        color: var(--bacground-color);

        font-family: inherit;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.88;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.06em;

        cursor: pointer;
}

/*Скрили заголовок Наші цінності*/

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

 .section-title {
     color: var(--header-color); 

    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    }
 
 .title-name {
     color: var(--header-color);

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    } 

    .values p {

        font-size: 14px;
        line-height: 1.71;
    }

    .team {
        background-color: #F5F4FA;
    }

    .team-members {
        background-color: var(--bacground-color);
        color: var(--header-color);
    }
    .team-members h3 {

        font-weight: 500;
        font-size: 16px;
        line-height: 1.19;
    }
      
    .team-members p {

        color: var(--paragraf-color);
         
        font-size: 16px;
        line-height: 1.19;
    }

    /*Стилі сторінки Портфоліо*/

    .portfolio-button {
        background-color: #F5F4FA;
        color: var(--header-color);
        font-family: inherit;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.63;

        cursor: pointer;
    }

    .portfolio-button:hover, .portfolio-button:focus {
        background-color: var(--text-accent-color);
        color: var(--bacground-color);
        font-family: inherit;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.63;

        cursor: pointer;
    }

    .photo-background {
        background-color: #EEEEEE;
    }
 
    .projects h3 {

        color: var(--header-color);

        font-weight: 700;
        font-size: 18px;
        line-height: 2;
        letter-spacing: 0.06em;
    }

    .projects p { 

        font-size: 16px;
        line-height: 1.88;
    }



   /*Стилі footer*/ 
 
 footer {
     background-color: #2F303A;
    }


    .address-list a {

        font-size: 14px;
        line-height: 1.71;

        text-decoration: none;
        list-style-type: none;

    }

    .address-list a:hover, .address-list a:focus {
        color: var(--text-accent-color);

        font-size: 14px;
        line-height: 1.71;
    }

        .google-map {

            color: var(--bacground-color);
    
    
        }

    .mail, .phone {

     color: rgba(255, 255, 255, 0.6);

    }



