body {
    background-color: #FFFFFF;
    color: #757575;
}

/* Прибирання маркерів */

ul {
    list-style: none;
}

/* основний колір тексту сірий #757575 */
/* другорядний колір тексту-заголовки чорний #212121 */
/* колір лого-синій header-footer #2196F3 */
/* колір лого-чорний header #000000 */
/* колір лого-біллий footer #FFFFFF */
/* фоновий колір hero-footer #2F303A */
/* фоновий колір "Наші цінності" #F5F5F5 */
/* фоновий колір "Наша команда" #F5F4FA */
/* колір телефон-пошта footer rgba(255, 255, 255, 0.6) */
 
/*Стилі header*/

.logo-web {
     color: #2196F3;
    }

.logo-studioheader {
     color: #000000;
    }

.logo-studiofooter {
     color: #FFFFFF;
    }

.site-nav a {
     color: #212121;
    }

.site-nav a:hover, .site-nav a:focus {
     color: #2196F3;
    }

  .contact-list a {
      color: #212121;
  }

  .contact-list a:hover, .contact-list a:focus {
      color: #2196F3;
  }

 /*Стилі головної сторінки main*/

 .hero {
     background-color: #2F303A;
 }

 .hero-title {
     color: #FFFFFF;
 }

 .hero-button {
    background-color: #2196F3;
    color: #FFFFFF;
 }

.hero-button:hover, .hero-button:focus {
    background-color: #2196F3;
        color: #FFFFFF;
}

/*Скрили заголовок Наші цінності*/

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

 .section-title {
     color: #212121; 
    }
 
 .title-name {
     color: #212121;
    }

    .team {
        background-color: #F5F4FA;
    }

    .team-members {
        background-color: #FFFFFF;
    }

    /*Стилі сторінки Портфоліо*/

    .portfolio-button {
        background-color: #F5F4FA;
        color: #212121;
    }

    .portfolio-button:hover, .portfolio-button:focus {
        background-color: #2196F3;
        color: #FFFFFF;
    }

    .photo-background {
        background-color: #EEEEEE;
    }






   /*Стилі footer*/ 
 
 footer {
     background-color: #2F303A;
    }
.adress {
     color: #FFFFFF;
    }

    .address-list a:hover, .address-list a:focus {
        color: #2196F3;
    }
.mail, .phone {
     color: rgba(255, 255, 255, 0.6);
    }



